<div class="page-container">
  <h1>Permanent rules</h1>
  <ol>
    <li>No man left behind: If someone commits a mortal sin, he tells the group, and for the next 24 hours, we will fast.</li>
    <li>11am sunday morning meetings at the cathedral gym</li>
    <li>daily anchor checkins</li>
    <li>Daily 20min of prayer</li>
  </ol>
  <hr/>
  <%= react_component('Tabs', tabs: @tabs) %>
</div>
