<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @ascetic_practice.description %>
</p>

<%= link_to 'Edit', edit_ascetic_practice_path(@ascetic_practice) %> |
<%= link_to 'Back', ascetic_practices_path %>
